<modal title="title" [isOpen]="isEditing" (closed)="isEditing = false;">
  <form (submit)="submit(editTimerCategory.value)" class="edit-modal">
    <p class="fieldset">
      <input name="minutes" type="number" [(ngModel)]="editingTimer.minutesDuration"
        min="0" required (keypress)="preventSubmitByEnter($event)" (keyup)="preventSubmitByEnter($event)">
      min :
      <input name="seconds" type="number" [(ngModel)]="editingTimer.secondsDuration"
        min="0" max="59" required (keypress)="preventSubmitByEnter($event)"
        (keyup)="preventSubmitByEnter($event)"> sec
    </p>
    <p class="fieldset">
      <input class="w-100" name="time" #modalDateTime type="datetime-local"
        ([ngModel])="editingTimer.startedTime" step=1 required (keypress)="preventSubmitByEnter($event)"
        (keyup)="preventSubmitByEnter($event)">
    </p>
    <p class="fieldset">
      <select name="category" #editTimerCategory ([ngModel])="editingTimer.category"
        class="category-select w-100">
        <option *ngFor="let c of categories" [value]="c.id" [selected]="c.id == editingTimer.category">{{c.value}}</option>
      </select>
    </p>
    <p class="fieldset">
      <textarea name="text" [(ngModel)]="editingTimer.text" placeholder="Notes"
        required></textarea>
    </p>
    <p class="fieldset">
      <button type="submit" class="btn-success">Зберегти</button>
      <button type="button" class="btn-alert" (click)="cancle()">Скасувати</button>
    </p>
  </form>
</modal>

<div>
  <h1>{{title.toUpperCase()}}</h1>
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columnsMeta;">
          {{column.title}}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list;">
        <td *ngFor="let columnMeta of columnsMeta;">
          <div *ngIF="isShortText(columnMeta) || isList(columnMeta)">
            <span class="short-text">{{columnMeta.fieldSelector(item)}}</span>
          </div>
          <div *ngIF="isLongText(columnMeta)">
            <pre class="long-text">{{columnMeta.fieldSelector(item)}}</pre>
          </div>
          <div *ngIF="isImage(columnMeta)">
            <img [src]="columnMeta.fieldSelector(item)" height="42" width="42" />
          </div>
        </td>
        <td>
          <button type="button" (click)="update(item.id)">Редагувати</button>
          <button type="button" (click)="remove(item.id)">Видалити</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="add()">Додати</button>
</div>