<div class="header">
</div>

<div *ngIf="companyInfo">
  <form (ngSubmit)="submitCompanyInfo()">
    <div>
      <label>Під тайлтл сторінки</label>
      <input id="sub-title" [(ngModel)]="companyInfo.subTitle" [ngModelOptions]="{standalone: true}"
        placeholder="
        sub-title " type="text " />
      <label>Тайтл сторінки</label>
      <input id="title" [(ngModel)]="companyInfo.title" [ngModelOptions]="{standalone: true}"
        placeholder="title" type="text" />
    </div>

    <div>
      <h1>ПАРТНЕРИ</h1>
      <table>
        <thead>
          <tr>
            <th>Назва</th>
            <th>Опис</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of companyInfo.partners;">
            <td>
              <input [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}" placeholder="Назва"
                type="text" />
            </td>
            <td>
              <input [(ngModel)]="item.description" [ngModelOptions]="{standalone: true}" placeholder="Опис"
                type="text" />
            </td>
            <td *ngIf="item.imageRef">
              <img [src]="buildImageAddress(item.imageRef)" (error)="buildImageAddress(item.imageRef)"
                height="42" width="42" />
            </td>
            <td>
              <input type="file" (change)="pictureChange($event, item)" placeholder="Загрузити картинку"
                accept=".png,.jpg" name="fileName" />
            </td>
            <td>
              <button type="button" (click)="removePartner(item.id)">Видалити</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="addPartner()">Додати</button>
    </div>

    <div>
      <h1>СЕРВІСИ</h1>
      <table>
        <thead>
          <tr>
            <th>Назва</th>
            <th>Опис</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of companyInfo.services">
            <td>
              <input [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}" placeholder="Назва"
                type="text" />
            </td>
            <td>
              <input [(ngModel)]="item.description" [ngModelOptions]="{standalone: true}" placeholder="Опис"
                type="text" />
            </td>
            <td>
              <button type="button" (click)="removeService(item.id)">Видалити</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="addServices()">Додати</button>
    </div>

    <div>
      <h1>ВАКАНСІЇ</h1>
      <table>
        <thead>
          <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Стать</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of companyInfo.jobVacancies">
            <td>
              <input [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}" placeholder="
                Назва " type="text " />
            </td>
            <td>
              <input [(ngModel)]="item.description " [ngModelOptions]="{standalone: true}" placeholder="Опис"
                type="text" />
            </td>
            <td>
              <select [(ngModel)]="item.gender" [ngModelOptions]="{standalone: true}" placeholder="
                Стать ">
                <option value="0">Вибери Стать</option>
                <option value="Man">Чоловік</option>
                <option value="Woman">Жінка</option>
              </select>
            </td>
            <td>
              <button type="button" (click)="removeJobVacancy(item.id)">Видалити</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="addVacancy()">Додати</button>
    </div>

    <div>
      <h1>КОНТАКТИ</h1>
      <div>
        <h2>Адреса</h2>
        <div>
          <label>Місто</label>
          <input [(ngModel)]="companyInfo.contact.address.city" [ngModelOptions]="{standalone: true}"
            placeholder="Місто" type="text" />
        </div>
        <div>
          <label>Вулиця і будинок</label>
          <input [(ngModel)]="companyInfo.contact.address.street" [ngModelOptions]="{standalone: true}"
            placeholder="Вулиця і будинок" type="text" />
        </div>
      </div>
      <div>
        <h2>Контактний телефон</h2>
        <div>
          <label>Головний номер</label>
          <input [(ngModel)]="companyInfo.contact.primaryPhone" [ngModelOptions]="{standalone: true}"
            placeholder="Головний номер" type="text" />
        </div>
        <div>
          <label>Мобільні номера</label>
          <div *ngFor="let mobPhone of companyInfo.contact.mobPhones; let i=index; trackBy:customTrackBy">
            <input [(ngModel)]="companyInfo.contact.mobPhones[i]" [value]="companyInfo.contact.mobPhones[i]"
              [ngModelOptions]="{standalone: true}" placeholder="Мобільний номер" type="text"
            />
            <button type="button" (click)="removeMobNumber(companyInfo.contact.mobPhones[i])">Видалити</button>
          </div>
          <button type="button" (click)="addMobNumber()">Додати номер</button>
        </div>
      </div>
    </div>

    <button type="submit">Зберегти</button>
  </form>
</div>