.slider {
  overflow-y: hidden;
  max-height: 1000px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 0;
}

.panel-title {
  .title {
    padding: 0px;
    margin: 0px;
    line-height: 1.1em;
    font: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #3D5975;
  }
}

.panel-content {
  background-color: rgba(247, 247, 247, 1);
}