
.header {
  display: inline-block;
  background-color: rgba(30, 45, 59, 1);
  width: 100%;
  position: fixed;
  z-index: 1;

  .nav-menu-conteiner,.header-separetor,.sub-title {
    display: inline-block;
  }
  .sub-title {
    margin: 0px auto;
    background-color: rgb(167, 155, 87);
    float: left;
    padding: 10px;
  }

  .nav-menu-conteiner {
    float: right;
    margin-right: 10px;
    vertical-align: bottom;
  }

  nav {
    ul {
      list-style: none;
      display: inline-block;
    }
  }
}

.company-title-container {
  min-height: 800px;
  background: url(/static/home.jpg) 50% 25% no-repeat;
  background-size: 100%;
  span {
    font: normal normal normal 60px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    font-family: Arial,Helvetica,sans-serif;
  }
}

.content{
  position: relative;
  top: 100px;
  .name {
    line-height: 1.1em;
    font: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #3D5975;
  }
  .description {
    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #3B3A3A;
    line-height: 1.6em;
    vertical-align: baseline;
    word-wrap: break-word;
  }
}

.partners-conteiner {
  .partner {
    display: inline-block;
    background-color: rgba(247, 247, 247, 1);
    margin: 100px 20px 0px 20px;
  }
}

.services-conteiner {
  .service {
    display: inline-block;
    margin: 10px;
    background-color: rgba(247, 247, 247, 1);
    .text {
      font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
      color: #3B3A3A;
    }
  }
}

.text-container {
  .text-title {
    font: normal normal normal 25px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #1E2D3B;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .text {
    font: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #3B3A3A;
    display: block;
  }
}

.contacts-conteiner {
  .text-container {
    display: inline-block;
    text-align: left;
    width: 400px;
    vertical-align: top;
    position: relative;
    left: 5%;
  }
}
