<div *ngIf="companyInfo" class="header">
  <div class="sub-title">
    <h1>{{companyInfo.title}}</h1>
  </div>
  <div class="nav-menu-conteiner">
    <nav>
      <ul>
        <menu-button navigateTo="company-info" text="ГОЛОВНА"></menu-button>
        <menu-button navigateTo="about" text="ПРО НАС"></menu-button>
        <menu-button navigateTo="partners" text="ПАРТНЕРИ"></menu-button>
        <menu-button navigateTo="services" text="ПОСЛУГИ"></menu-button>
        <menu-button navigateTo="job-vacancies" text="ВАКАНСІЇ"></menu-button>
        <menu-button navigateTo="contacts" text="КОНТАКТИ"></menu-button>
      </ul>
    </nav>
  </div>

</div>
<div class="content">
  <div *ngIf="companyInfo">

    <div id="company-info" class="company-title-container">
      <div style="width: 100%; padding-top: 200px; text-align: center; position: relative; bottom: 130px;">
        <span>{{companyInfo.subTitle}}</span>
      </div>
    </div>

    <page-layout id="about" class="about-conteiner" title="ПРО НАС">
      <div>
        <span class="description">
          <pre class="description">
          Наші компанії представлені на ринку аутсорсингових та рекрутингових послуг починаючи
          з 2004 року. З того часу, серед наших партнерів, були (або є) такі підприємства:
          ПАТ Світоч, ТзОВ Нестле-Україна, ТОВ ТВК Перша Приватна Броварня, ПрАТ
          ВолиньХолддинг (Торчин-продукт), ТзОВ Kabel Werk Львів, ПрАТ Карлсбертг
          Україна (Львівська Пивоварня), ТОВ Кондитерська фабрика «Ярич», ТОВ Castrol
          Україна, ВАТ Радехівський цукровий завод та ін.
          </pre>
        </span>
      </div>
    </page-layout>

    <page-layout id="partners" class="partners-conteiner" title="ПАРТНЕРИ">
      <div *ngFor="let item of companyInfo.partners" class="partner">
        <img *ngIf="item.imageAddress" [src]="item.imageAddress" height="128" width="200"
        />
      </div>
    </page-layout>

    <page-layout id="job-vacancies" class="job-vacancies-conteiner" title="ВАКАНСІЇ">
      <div *ngFor="let item of groupedVacancies" class="job-vacancy">
        <h2>{{item.title}}</h2>
        <div *ngFor="let vacancy of item.vacancies" class="grouped-vacancies">
          <span class="name">{{vacancy.name}}</span>
          <div *ngFor="let groupedItem of vacancy.groupedDescription" class="grouped-description">
            <h4>{{groupedItem.title}}</h4>
            <ul *ngFor="let descriptionRecord of groupedItem.descriptionRecords" class="description-list">
              <li>{{descriptionRecord}}</li>
            </ul>
          </div>
        </div>
      </div>
    </page-layout>

    <page-layout id="services" class="services-conteiner" title="ПОСЛУГИ">
      <div *ngFor="let item of companyInfo.services" class="service">
        <span class="name">{{item.name}}</span>
        <span class="description">{{item.description}}</span>
      </div>
    </page-layout>

    <page-layout id="contacts" class="contacts-conteiner" title="КОНТАКТИ">
      <div>
        <div *ngIf="contact" class="text-container" style="display: inline-block;">
          <span class="text-title">Головний Офіс</span>
          <span *ngIf="contact.address" class="text">Адреса: м. {{contact.address.city}},
            вул. {{contact.address.street}}</span>
          <span *ngIf="contact.primaryPhone" class="text">Тел. {{contact.primaryPhone}}</span>
          <span *ngIf="showMobPhones()" class="text">Моб. {{formatPhoneNumbers(contact.mobPhones)}}</span>
          <span class="text">Головний деректор {{contact.ceoName}}</span>
        </div>
        <google-map *ngIf="contact" [address]="contact.address" style="display: inline-block;"></google-map>
      </div>
    </page-layout>
  </div>
</div>