.color_0 {color: #FFFFFF;}
.backcolor_0 {background-color: #FFFFFF;}
.color_1 {color: #FFFFFF;}
.backcolor_1 {background-color: #FFFFFF;}
.color_2 {color: #000000;}
.backcolor_2 {background-color: #000000;}
.color_3 {color: #ED1C24;}
.backcolor_3 {background-color: #ED1C24;}
.color_4 {color: #0088CB;}
.backcolor_4 {background-color: #0088CB;}
.color_5 {color: #FFCB05;}
.backcolor_5 {background-color: #FFCB05;}
.color_6 {color: #727272;}
.backcolor_6 {background-color: #727272;}
.color_7 {color: #B0B0B0;}
.backcolor_7 {background-color: #B0B0B0;}
.color_8 {color: #FFFFFF;}
.backcolor_8 {background-color: #FFFFFF;}
.color_9 {color: #727272;}
.backcolor_9 {background-color: #727272;}
.color_10 {color: #B0B0B0;}
.backcolor_10 {background-color: #B0B0B0;}
.color_11 {color: #FFFFFF;}
.backcolor_11 {background-color: #FFFFFF;}
.color_12 {color: #F7F7F7;}
.backcolor_12 {background-color: #F7F7F7;}
.color_13 {color: #C6C6C6;}
.backcolor_13 {background-color: #C6C6C6;}
.color_14 {color: #949494;}
.backcolor_14 {background-color: #949494;}
.color_15 {color: #3B3A3A;}
.backcolor_15 {background-color: #3B3A3A;}
.color_16 {color: #F9EEB1;}
.backcolor_16 {background-color: #F9EEB1;}
.color_17 {color: #F3E389;}
.backcolor_17 {background-color: #F3E389;}
.color_18 {color: #EDCD1F;}
.backcolor_18 {background-color: #EDCD1F;}
.color_19 {color: #9E8915;}
.backcolor_19 {background-color: #9E8915;}
.color_20 {color: #4F440A;}
.backcolor_20 {background-color: #4F440A;}
.color_21 {color: #C0D2E5;}
.backcolor_21 {background-color: #C0D2E5;}
.color_22 {color: #99B2CA;}
.backcolor_22 {background-color: #99B2CA;}
.color_23 {color: #5B86B0;}
.backcolor_23 {background-color: #5B86B0;}
.color_24 {color: #3D5975;}
.backcolor_24 {background-color: #3D5975;}
.color_25 {color: #1E2D3B;}
.backcolor_25 {background-color: #1E2D3B;}
.color_26 {color: #FFBBC2;}
.backcolor_26 {background-color: #FFBBC2;}
.color_27 {color: #FF9AA3;}
.backcolor_27 {background-color: #FF9AA3;}
.color_28 {color: #FF3447;}
.backcolor_28 {background-color: #FF3447;}
.color_29 {color: #AA232F;}
.backcolor_29 {background-color: #AA232F;}
.color_30 {color: #551118;}
.backcolor_30 {background-color: #551118;}
.color_31 {color: #BADEAD;}
.backcolor_31 {background-color: #BADEAD;}
.color_32 {color: #8FBD7F;}
.backcolor_32 {background-color: #8FBD7F;}
.color_33 {color: #509C35;}
.backcolor_33 {background-color: #509C35;}
.color_34 {color: #356823;}
.backcolor_34 {background-color: #356823;}
.color_35 {color: #1B3412;}
.backcolor_35 {background-color: #1B3412;}
