.font_0 {font: normal normal normal 23px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#3B3A3A;} 
.font_1 {font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#949494;} 
.font_2 {font: normal normal normal 55px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#C6C6C6;} 
.font_3 {font: normal normal normal 60px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#3B3A3A;} 
.font_4 {font: normal normal normal 40px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#949494;} 
.font_5 {font: normal normal normal 25px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#1E2D3B;} 
.font_6 {font: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#3D5975;} 
.font_7 {font: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#3B3A3A;} 
.font_8 {font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif ;color:#3B3A3A;} 
.font_9 {font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#3B3A3A;} 
.font_10 {font: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#949494;}
