// colors

$color-1: #3f4258; // YANKEES BLUE
$color-2: #8F3985; // PLUM
$color-3: #ffffff; // WHITE
$color-4: #ECF0F1; // ANTI-FLASH WHITE
$color-5: #9dc997;
$color-6: #d8d8d8;
$color-7: #2c3f4c; // Pickled Bluewood
$color-8: #95ac5f; // Sushi
$color-9: #7da977;
$color-10: #edeff0; // Porcelain

// additional colors

$success: #9dc997; // green
$alert: #e4655f;;  // red

// fonts 

$primary-font: "Open Sans", sans-serif;

// header size

$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;